# MongoDB Connection URI
# Local MongoDB Database (default):
MONGO_URI=mongodb://localhost:27017/signsafe

# Or Cloud MongoDB Atlas Connection:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/signsafe?retryWrites=true&w=majority

# Port for backend server (default: 5000)
PORT=5000
